.explore-banner {
  padding: 40px 120px;
  width: 100%;
  height: 500px;
  background-image: url("../../assets/images/laurice-manaligod.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  

  @media (max-width: 1024px) {
    padding: 20px 10px;
  }

  .banner-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .text-content {
    max-width: 550px;

    @media (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }

  .main-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #5d3a2a;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    color: #a69a97;

    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
    max-width: 450px;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .explore-button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
